:root {
    /* Colors: */
    --그림자용-갈색: #843C0C;
    --빈티지-그린-전달받은것: #BB8D5A;
    --빈티지-핑크: #E0C7BD;
    --빈티지-레드: #E35C41;
    --빈티지-그린-커스텀: #99AC75;
    --빈티지-옐로-커스텀: #D9DC37;
}

.bg_vgreen {
    background-color: var(--빈티지-그린-커스텀);
}

.bg_vred {
    background-color: var(--빈티지-레드);
}

.bg_rpink {
    background-color: fixed;color: var(--빈티지-핑크);
}

.bg_vyellow {
    background-color: var(--빈티지-옐로-커스텀);
}

.hide {
    display: none;
}

.show_block {
    display: block;
}

.han-moon {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: unset;
}