:root {
    /* Colors: */
    --그림자용-갈색: #843C0C;
    --빈티지-그린-전달받은것: #BB8D5A;
    --빈티지-핑크: #E0C7BD;
    --빈티지-레드: #E35C41;
    --빈티지-그린-커스텀: #99AC75;
    --빈티지-옐로-커스텀: #D9DC37;
}

.fc_w {
    color: white;
}

.fc_e9w {
    color: #E9E9E9;
}

.fc_58 {
    color: #585858;
}

.fc_b {
    color: black;
}

.fc_vgreen {
    color: var(--빈티지-그린-커스텀);
}

.fc_vred {
    color: var(--빈티지-레드);
}

.fc_rpink {
    color: var(--빈티지-핑크);
}

.fc_vyellow {
    color: var(--빈티지-옐로-커스텀);
}