@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Colors: */
    --그림자용-갈색: #843C0C;
    --빈티지-그린-전달받은것: #BB8D5A;
    --빈티지-핑크: #E0C7BD;
    --빈티지-레드: #E35C41;
    --빈티지-그린-커스텀: #99AC75;
    --빈티지-옐로-커스텀: #D9DC37;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'songmyungR', 'NanumSquareNeo-Variable', 'Nanum Gothic';
}

div {
    box-sizing: border-box;
}



.footer {
    width: 100%;
    height: 220px;
    padding-top: 50px;
    width: 1500px;
    margin: 0px auto;
    font-family: 'NanumSquareNeo-Variable';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .company_info {
    display: flex;
    flex-direction: column;
    line-height: 23px;
    margin-left: 36px;
}

.footer .sns_wrapper {
    margin-right: 36px;
    display: flex;
    flex-direction: row;
}

.footer .sns_wrapper .sns_icon {
    width: 33px;
    height: 33px;
    margin-left: 5px;
    cursor: pointer;
}

.footer .sns_wrapper .sns_icon img {
    width: 100%;
}

.photo_modal {
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    z-index: 99;
}

.photo_modal .close_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.close_bt {
    display: inline-block;
    cursor: pointer;
}

.close_bt:after {
    display: inline-block;
    content: "\00d7";
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.photo_modal .photo_viewer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px - 33px);
}

.photo_modal .photo_viewer_wrapper .photo_viewer {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}



/* ▼▼▼▼▼ header START ▼▼▼▼▼ */

.header {
    height: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    z-index: 999;
    backdrop-filter: blur(4px);
    transition: height 0.3s linear;
    overflow: hidden;
}

.header .menu_bt {
    margin: 0 20px;
    padding-top: 5px;
    cursor: pointer;
    display: block;
    transition: color 0.2s ease-in;
}

.header .menu_bt::after {
    border-bottom: 1px solid white;
    width: 0%;
    height: 1px;
    content: "";
    display: block;
    margin-top: -5px;
    transition: width 0.2s ease-in;
}

.header .menu_bt:hover::after {
    width: 100%;
}

.header .menu_bt:hover {
    color: burlywood;
}

/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */


/*@@@@@@@@@@@@@@@@@@@@@     INDEX     @@@@@@@@@@@@@@@@@@@@@@@@@*/


/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */

.index .layer1{
    width: 100%;
    height: 100vh;
    background-image: url('../_img/works_layer1bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 35px 40px;
}

.index .layer1 .col1 {
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index .layer1 .col1 .color_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    height: 100%;
    width: 205px;
}

.index .layer1 .col1 .color_blocks div {
    width: 35px;
    height: 100%;
}

.index .layer1 .col1 .color_blocks div:first-child {
    background-color: var(--그림자용-갈색)
}

.index .layer1 .col1 .color_blocks div:nth-child(2) {
    background-color: var(--빈티지-그린-커스텀)
}

.index .layer1 .col1 .color_blocks div:nth-child(3) {
    background-color: var(--빈티지-레드)
}

.index .layer1 .col1 .color_blocks div:nth-child(4) {
    background-color: var(--빈티지-핑크)
}

.index .layer1 .col1 .color_blocks div:nth-child(5) {
    background-color: var(--빈티지-옐로-커스텀)
}

.index .layer1 .text_l1 {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 25px 25px 15px 25px;
    backdrop-filter: blur(4px);
    border-radius: 8px;
}

.index .layer1 .text_l1 .cell{
    text-align: center;
    text-shadow: 3px 3px 3px #000000B0;
}

.index .layer1 .text_l1 .cell:nth-child(2) {
    color: burlywood;
}

/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */


.index .layer2 {
    width: 1500px;
    background-color: #F2E7E3;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #707070;
}


/* ▼▼▼▼▼ layer 2-1 START ▼▼▼▼▼ */

.index .layer2-1 {
    margin: 0 100px 70px 100px;
}

.index .subtitle {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 40px;
    justify-content: flex-start;
    align-items: center;
}

.index .subtitle .subtitle_color_box {
    width: 44px;
    height: 29px;
    margin-top: -14px;
    margin-right: 8px;
}

.index .subtitle .subtitle_text {
    text-shadow: 0px 3px 6px #0000004D;
}

.index .photo_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.index .photo_wrapper .photo_row{
    display: flex;
    flex-direction: row;
}

.index .photo_wrapper .photo_row:nth-child(2) {
    margin-left: 20px;
}

.index .photo_wrapper .photo_row .photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    box-shadow: 4px 4px 12px #00000066;
    cursor: pointer;
    position: relative;
}

.index .photo_wrapper .photo_row .photo .photo_dim {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    opacity: 0.0;
    transition: opacity 0.3s ease-in;
    padding: 15px 10px;
}

.index .photo_wrapper .photo_row .photo .photo_dim .photo_title {
    color: white;
    font-size: 12px;
}

.index .photo_wrapper .photo_row .photo:hover .photo_dim {
    opacity: 1;
}

.index .photo_wrapper .photo_row .photo img {
    width: 100%;
    transition: 0.3s ease-in;
}

.index .photo_wrapper .photo_row .photo:hover img {
    transform: scale(1.1);
}

.index .photo_wrapper .photo_row .photo:first-child {
    margin-left: 0px;
}

.index .portfolio_wrappper {
    width: 100%;
    height: fit-content;
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.index .portfolio_wrappper div {
    font-family: 'NanumSquareNeo-Variable';
}

.index .portfolio_wrappper .portfolio_row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 30px 0px;
    border-bottom: 1px solid #707070
}

.index .portfolio_wrappper .portfolio_row:last-child {
    border: 0px;
}

.index .portfolio_wrappper .portfolio_row .portfolio_photo {
    display: flex;
    align-items: center;
    justify-items: center;
}

.index .portfolio_wrappper .portfolio_row .portfolio_photo img {
    width: 100%;
    box-shadow: 4px 4px 12px #00000066;
}

.index .portfolio_wrappper .portfolio_row .portfolio_texts {
    margin-left: 27px;
    display: flex;
    flex-direction: column;
}

.index .portfolio_wrappper .portfolio_row .portfolio_texts .portfolio_title {
    margin-bottom: 10px;
    font-weight: bold;
}

.index .portfolio_wrappper .portfolio_row .portfolio_texts .portfolio_subtitle {
    color: #B1B1B1;
    transition: color 0.2s ease-in;
    margin-bottom: 32px;
}

.index .portfolio_wrappper .portfolio_row:hover .portfolio_texts .portfolio_subtitle,
.index .portfolio_wrappper .portfolio_row:hover .portfolio_texts .portfolio_description_wrapper {
    color: black;
}

.index .portfolio_wrappper .portfolio_row .portfolio_texts .portfolio_description_wrapper {
    transition: color 0.2s ease-in;
    color: #B1B1B1;
}

.index .portfolio_wrappper .portfolio_row .portfolio_texts .portfolio_description {
    margin-bottom: 3px;
}

/* ▲▲▲▲▲ layer 2-1 END ▲▲▲▲▲ */

/* ▼▼▼▼▼ layer 2-2 START ▼▼▼▼▼ */

.index .layer2-2 {
    margin: 0 100px 70px 100px;
}

.index .about_wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.index .about_photo {
    width: 644px;
    height: 644px;
    overflow: hidden;
    margin-right: 80px;
}

.index .about_photo img {
    width: 100%;
}

.index .about_description_wrapper {
    width: calc(100% - 644px);
}

.index .about_description_wrapper div {
    font-family: 'NanumSquareNeo-variable';
}

.index .about_title {
    color: #585858;
}

.index .about_description {
    color: #585858;
    margin-top: 30px;
}

.index .about_description2 {
    color: #585858;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
}

.index .about_description2 .desc_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.index .about_description2 .desc_row:first-child {
    margin-top: 0;
}

.index .about_description2 .desc_row .line {
    height: 1px;
    width: 45px;
    border-bottom: 1px dashed #707070;
}

.index .about_description2 .desc_row .c1 {
    width: 172px;
    height: 32px;
    background-color: #843C0C;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
}

.index .about_description2 .desc_row .c2 {
    font-weight: bold;
    margin: 0px 2px;
    color: #843C0C;
}

.index .about_description2 .desc_row .c3 {
    margin: 0px 2px;
}

/* ▲▲▲▲▲ layer 2-2 END ▲▲▲▲▲ */


/* ▼▼▼▼▼ layer 2-3 START ▼▼▼▼▼ */
.index .layer2-3 {
    margin: 0 100px 70px 100px;
}

.index .layer2-3 .business_description {
    color: #585858;
    margin-top: 25px;
    padding-left: 80px;
}

.index .layer2-3 .business_description_photo_wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    margin-top: 25px;
}

.index .layer2-3 .business_description_photo_wrapper .business_description_photo {
    margin-left: 28px;
    position: relative;
}

.index .layer2-3 .business_description_photo_wrapper .business_description_photo:first-child {
    margin-left: 0;
}

.index .layer2-3 .business_description_photo_wrapper .business_description_photo .business_title {
    font-size: 20px;
    color: var(--빈티지-옐로-커스텀);
    position: absolute;
    top: 0px;
    left: 0px;
    text-shadow: 1px 1px 1px var(--그림자용-갈색);
}

.index .layer2-3 .business_description_photo_wrapper .business_description_photo .business_subtitle {
    font-size: 16px;
    color: #585858;
    position: absolute;
    top: 35px;
    left: 15px;
}

.index .layer2-3 .business_description_photo_wrapper .business_description_photo .btx {
    position: absolute;
    width: 200px;
}


/* ▲▲▲▲▲ layer 2-3 END ▲▲▲▲▲ */



/* ▼▼▼▼▼ layer 2-4 START ▼▼▼▼▼ */


.index .layer2-4 {
    margin: 0px 100px 0px 100px;
}


/* ▲▲▲▲▲ layer 2-3 END ▲▲▲▲▲ */






/*@@@@@@@@@@@@@@@@@@@@@     WORKS     @@@@@@@@@@@@@@@@@@@@@@@@@*/


/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */

.works .layer1{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    background-image: url(../_img/works_layer1bg.jpg);
    background-position: center 79%;
    text-shadow: 2px 2px 6px black;
    margin-top: 40px;
}

/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */

.works .layer2 {
    max-width: 1500px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #707070;
}

/* ▼▼▼▼▼ layer 2-1 START ▼▼▼▼▼ */
.works .layer2-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'NanumSquareNeo-Variable';
}

.works .layer2-1 .works_bt{
    margin: 0px 10px;
    padding: 5px 8px;
}

.works .layer2-1 .works_bt.active {
    border-radius: 13px;
    border: 1px solid rgb(200,200,200);
    background-color: var(--빈티지-그린-커스텀);
    color: white;
}
/* ▲▲▲▲▲ layer 2-1 END ▲▲▲▲▲ */

/* ▼▼▼▼▼ layer 2-2 START ▼▼▼▼▼ */
.works .layer2-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 35px;
    max-width: 1382px;
    margin-left: auto;
    margin-right: auto;
}

.works .layer2-2 .work_cell{
    width: 325px;
    max-width: 80vw;
    height: 182.813px;
    max-height: calc(80vw * 0.5625);
    background-color: gray;
    margin: 10px;
    overflow: hidden;
}
/* ▲▲▲▲▲ layer 2-2 END ▲▲▲▲▲ */

/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */
/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */

/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */
/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */

/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */
/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */









/*@@@@@@@@@@@@@@@@@@@@@     ABOUT     @@@@@@@@@@@@@@@@@@@@@@@@@*/


/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */

.about .layer1{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    background-image: url(../_img/works_layer1bg.jpg);
    background-position: center 79%;
    text-shadow: 2px 2px 6px black;
    margin-top: 40px;
}

/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */

.about .about_wrapper {
    margin: 0 auto;
    width: 1500px;
    padding: 70px 0;
    background: #F2E7E3;
    margin-bottom: 50px;
}

.about .about_wrapper .about_tit { /* 타이틀 공용 css */
    padding-left: 100px;
    font-family: 'songmyungR', 'NanumSquareNeo-Variable', 'Nanum Gothic';
    font-size: 40px;
    color: #843C0C;
    text-shadow: #0000004D 0px 3px 6px;
    height: 40px;
    line-height: 58px;
    letter-spacing: -1px;
}

/* about page 1. Brand Value */

.about .about_layer1 {
    width: 100%;
    /*outline: solid 1px blue;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 27px 0 70px 100px;
}

.about .about_layer1 .about_photo img {
    width: 644px;
    height: 644px;
    margin-right: 93px;
}

.about .about_layer1 .about_text_wrap {
    color: #585858;
}

.about .about_layer1 .about_text_wrap .c1,
.c2,
.c3 {
    font-family: 'NanumSquareNeo-variable';
}

.about .about_layer1 .about_text_wrap .about_subtit {
    font-family: 'NanumSquareNeoHeavy', 'Nanum Gothic', 'songmyungR';
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.about .about_layer1 .about_text_wrap .about_subtit span {
    font-size: 20px;
}

.about .about_layer1 .about_text_wrap .about_description {
    font-family: 'NanumSquareNeo-Variable', 'NanumSquareNeoBold';
}

.about .about_layer1 .about_description2 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
}

.about .about_layer1 .about_description2 .desc_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.about .about_layer1 .about_description2 .desc_row:first-child {
    margin-top: 0;
}

.about .about_layer1 .about_description2 .desc_row .line {
    height: 1px;
    width: 45px;
    border-bottom: 1px dashed #707070;
}

.about .about_layer1 .about_description2 .desc_row .c1 {
    width: 172px;
    height: 32px;
    background-color: #843C0C;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
}

/* about page 2. Organization Chart */

.about .about_wrapper .about_layer2 {
    position: relative;
}

.about .about_wrapper .about_layer2 .business_description {
    color: #585858;
    margin-top: 26px;
    padding-left: 128px;
}

.about .about_wrapper .about_layer2 .business_description_photo_wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 128px;
    margin: 27px 0 70px;
    /*outline: solid 1px red;*/
}

.about .about_wrapper .about_layer2 .business_description_photo_wrapper img {
    margin-right: 32px;
}

/* about page 3. Business Outline */

.about .about_wrapper .about_layer3 div p {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    width: 65px;
    padding: 30px 65px 15px 125px;
    outline: solid 1px red;
}


.about .about_wrapper .about_layer3 span {
    outline: solid 1px blue;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
}

.about .about_wrapper .about_layer3 .business_text1 {
    /*outline: solid 1px orange;*/
    display: flex;
    letter-spacing: 0.48px;
}

.about .about_wrapper .about_layer3 .business_text2 {
    width: 66px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    color: #585858;
    margin: 30px 65px 0 125px;
} 

.about .about_wrapper .about_layer3 .business_text2 div > div {
    /*outline: solid 1px green;*/
    margin-bottom: 15px;
}

.about .about_wrapper .about_layer3 .business_text2 div div:nth-child(4) {
    margin-top: 40px;
}

.about .about_wrapper .about_layer3 .business_text2 div div:nth-child(6) {
    margin-bottom: 0;
}

.about .about_wrapper .about_layer3 .business_text3 {
    width: 305px;
    /*outline: solid 1px red;*/
    font-family: 'NanumSquareNeo-Variable';

    color: #585858;
    margin: 30px 0 0 0;
}

.about .about_wrapper .about_layer3 .business_text3 div > div {
    margin-bottom: 15px;
}

.about .about_wrapper .about_layer3 .business_text3 div div:nth-child(3) {
    margin-bottom: 5px;
}

.about .about_wrapper .about_layer3 .business_text3 div div:nth-child(5) {
    color: #0019FF;
    cursor: pointer;
    text-decoration: none;
    border-bottom: solid 1px #0019FF;
}

.about .about_wrapper .about_layer3 .business_text3 div div:nth-child(7) {
    margin-bottom: 0;
}

/* about page DEEPTAIL STUDIO */

.about .about_studio_layer {
    margin: 0 auto;
    width: 1500px;
    min-height: 921px;
    padding: 70px;
    background-color : #ECECEC;
}

.about .about_studio_layer .about_titbox {
    width: 303px;
    height: 52px;
    line-height: 34px;
    /*outline: solid 1px red;*/
    padding: 9px;
    background-color: #FFFFFF;
}

.about .about_studio_layer .about_tit2 {
    color: #3B3B3B;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    /*outline: solid 1px blue;*/
}

.about .about_studio_layer .about_studio_photo {
    display: flex;
    margin: 107px 0 0 60px;
}

.about .about_studio_layer .about_studio_photo .about_studio_ptmenu {
    /*outline: solid 1px red;*/
    margin-right: 16px;
}

.about .about_studio_layer .about_studio_photo .about_studio_ptmenu > div {
    width: 324px;
    height: 39px;
    padding: 8px 20px 8px 20px;
    line-height: 22px;
    font-size: 21px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    cursor: pointer;
    /*color: #3B3B3B;*/
} 

.about .about_studio_layer .about_studio_ptimg .imgbg1 {
    width: 980px;
    /* height: 649px; */
    padding: 70px 170px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 3px 6px #00000029;
}

.studio_menu_color{
    background-color: #3B3B3B;
    color: #E35C41;
}

/*@@@@@@@@@@@@@@@@@@@@@     CONTACT     @@@@@@@@@@@@@@@@@@@@@@@@@*/


/* ▼▼▼▼▼ layer 1 START ▼▼▼▼▼ */

.contact .layer1{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    background-image: url(../_img/works_layer1bg.jpg);
    background-position: center 79%;
    text-shadow: 2px 2px 6px black;
    margin-top: 40px;
}

/* ▲▲▲▲▲ layer 1 END ▲▲▲▲▲ */

.contact .contact_wrapper {
    margin: 0 auto;
    width: 1500px;
    padding: 70px 0;
    background: #F2E7E3;
}

.contact .contact_wrapper .contact_tit { /* 타이틀 공용 css */
    padding-left: 125px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1.2px;
    color: #585858;
}

/* contact page Inquiry & Business Proposal */

.contact .contact_wrapper .contact_layer1 {
    display: flex;
    margin-bottom: 70px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text1 {
    display: flex;
    letter-spacing: 0.48px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text2 {
    width: 66px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    color: #585858;
    margin: 58px 65px 0 125px;
} 

.contact .contact_wrapper .contact_layer1 .inquiry_text2 div > div {
    /*outline: solid 1px green;*/
    margin-bottom: 15px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text2 div div:nth-child(4) {
    margin-top: 40px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text3 {
    width: 305px;
    /*outline: solid 1px red;*/
    font-family: 'NanumSquareNeo-Variable';
    color: #585858;
    margin: 58px 118px 0 0;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text3 div > div {
    margin-bottom: 15px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text3 div div:nth-child(3) {
    margin-bottom: 5px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text3 div div:nth-child(5) {
    width: 296px;
    margin-bottom: 15px;
    color: #0019FF;
    cursor: pointer;
    text-decoration: none;
    border-bottom: solid 1px #0019FF;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text3 div div:nth-child(9) {
    line-height: 18px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text3 div div:nth-child(10) {
    margin-bottom: 0;
    padding-left: 10px;
    /*outline: solid 1px red;*/
}

.contact .contact_wrapper .contact_layer1 .map {
    margin-top: 58px;
}

/* contact page Contact us */

.contact .contact_wrapper .contact_txt {
    font-family: 'NanumSquareNeo-Variable';
    color: #585858;
    letter-spacing: 0.48px;
    padding: 15px 0 53px 125px;
    /*outline: solid 1px blue;*/
}

.contact .contact_wrapper .contact_layer2 fieldset {
    font-family: 'NanumSquareNeo-Variable';
    color: #585858;
    letter-spacing: 0.48px;
    border: 0;
    padding: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset > div {
    /*outline: solid 1px red;*/
    margin-bottom: 15px;
}

.contact .contact_wrapper .contact_layer2 fieldset label {
    /*outline: solid 1px blue;*/
    margin-right: 10px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) {
    /*outline: solid 1px brown;*/
    padding-left: 252px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(2) {
    /*outline: solid 1px brown;*/
    padding-left: 200px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(3) {
    /*outline: solid 1px brown;*/
    padding-left: 262px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(4) {
    /*outline: solid 1px blue;*/
    padding-left: 223px;
    margin-bottom: 18px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(4) label {
    vertical-align: top;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(5) {
    padding-left: 311px;
    margin-bottom: 40px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:last-child {
    text-align: center;
    margin:0;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-last-child(-n+2) label {
    margin-right: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset input[type=text],
.contact .contact_wrapper .contact_layer2 fieldset input[type=checkbox],
.contact .contact_wrapper .contact_layer2 fieldset input[type=button],
.contact .contact_wrapper .contact_layer2 fieldset textarea {
    padding: 2px 5px;
    border: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) input {
    /*outline: solid 1px orange;*/
    width: 185px;
    height: 28px;
    margin-right: 76px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(2) input,
.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(3) input {
    /*outline: solid 1px blue;*/
    width: 843px;
    height: 28px;
}

.contact .contact_wrapper .contact_layer2 fieldset textarea {
    /*outline: solid 1px purple;*/
    width: 843px;
    height: 300px;
    resize: none;
}

.contact .contact_wrapper .contact_layer2 fieldset input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: -5px;
}

.contact .contact_wrapper .contact_layer2 fieldset button {
    width: 170px;
    height: 40px;
    padding: 0;
    border: solid 1px #707070;
    background-color: transparent;
    cursor: pointer;
}